<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; 2022-2023</small>
            <a href="{{ path('main_page') }}" style="margin:15px;"><img class="img-responsive center-block img-fluid" width="150" height="150" src="{{ asset('assets/img/logo.png') }}" alt="logo"></a><br><br>
        </div>
        <div class="col-6 col-md">
            <h5>Linki 1</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Link 1</a></li>
                <li><a class="text-muted" href="#">Link 2</a></li>
                <li><a class="text-muted" href="#">Link 3</a></li>
                <li><a class="text-muted" href="#">Link 4</a></li>
                <li><a class="text-muted" href="#">Link 5</a></li>
                <li><a class="text-muted" href="#">Link 6</a></li>
                <li><a class="text-muted" href="#">Link 7</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Linki 2</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Link 1</a></li>
                <li><a class="text-muted" href="#">Link 2</a></li>
                <li><a class="text-muted" href="#">Link 3</a></li>
                <li><a class="text-muted" href="#">Link 4</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Linki 3</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Link 1</a></li>
                <li><a class="text-muted" href="#">Link 2</a></li>
                <li><a class="text-muted" href="#">Link 3</a></li>
                <li><a class="text-muted" href="#">Link 4</a></li>
                <li><a class="text-muted" href="#">Link 5</a></li>
            </ul>
        </div>
    </div>
</footer>