<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="{{ path('main_page') }}">Aplikacja medyczna</a></h5>

    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="videolist.php">Link1</a>
        <a class="p-2 text-dark" href="videolist.php">Link2</a>
        <a class="p-2 text-dark" href="videolist.php">Link3</a>
        <a class="p-2 text-dark" href="videolist.php">Link4</a>
        <a class="p-2 text-dark" href="{{ path('admin_dashboard') }}">Dashboard</a>
    </nav>
    
    <a class="btn btn-outline-primary mr-2" href="{{ path('register') }}">Zarejestruj się</a>
    <a class="btn btn-outline-primary" href="{{ path('login') }}">Zaloguj się</a>
</div>